<?xml version="1.0" encoding="UTF-8"?>
<databaseChangeLog
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
        xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">
    <changeSet author="admin" id="1">
        <createTable tableName="${KEBAB_CASE}">
            <column name="id" type="INT" >
                <constraints primaryKey="true"/>
            </column>
            #foreach($filed in $FIELDS)
                <column name="${filed.snakeCaseName}" type="${filed.typeFieldSql}">
                    <constraints nullable="false" />
                </column>
            #end
            #if($IS_CHILD_ENTITY)
            <column name="${FATHER_ENTITY}_id" type="INT">
               <constraints nullable="true" />
            </column>
            #end
        </createTable>
        <rollback>
            <dropTable tableName="${KEBAB_CASE}"/>
        </rollback>
    </changeSet>
    <changeSet id="2" author="admin">
        <createSequence sequenceName="${SNAKE_CASE}_seq" startValue="1" incrementBy="1" />
    </changeSet>
    #if($IS_CHILD_ENTITY)
    <changeSet id="3" author="admin">
        <addForeignKeyConstraint baseTableName="${KEBAB_CASE}" baseColumnNames="${FATHER_ENTITY}_id" constraintName="fk_${FATHER_ENTITY}_${KEBAB_CASE}" referencedTableName="${FATHER_ENTITY_KEBAB}" referencedColumnNames="id"/>
    </changeSet>
    #end
</databaseChangeLog>